.LOCAL/
.RELEASE/
.TEST/
.TEMP/

node_modules/

todo.md

/mods.json

.secrets
.env

/tools/busted-filter.txt

lcov.info
luacov.info
luacov.report.html
luacov.stats.out

.vscode/*
template-*.code-workspace
!/.vscode/extensions.json

!templates/.code-workspace

__pycache__/
.ruff_cache/
.venv/
*.pyc
